<h1>Ici est la liste des musics</h1>

<%  @musics.each do |music|%>
<%= music.name %>
<%= music.artiste %>
<div>
  <%= link_to open_url_path, url: "#{music.soundcloud_tag}" %>
</div>
<% end%>

'<iframe width="100%" height="600" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/52617120&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe><div style="font-size: 10px; color: #cccccc;line-break: anywhere;word-break: normal;overflow: hidden;white-space: nowrap;text-overflow: ellipsis; font-family: Interstate,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Garuda,Verdana,Tahoma,sans-serif;font-weight: 100;"><a href="https://soundcloud.com/efetparis" title="efetparis" target="_blank" style="color: #cccccc; text-decoration: none;">efetparis</a> · <a href="https://soundcloud.com/efetparis/orchestre" title="Accord d&#x27;Orchestre" target="_blank" style="color: #cccccc; text-decoration: none;">Accord d&#x27;Orchestre</a></div>'